<!doctype html>
<html lang="ja" >
  <head>
    <title>Signin Template for Bootstrap · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="/assets/user.scss" rel="stylesheet">
    <link href="../example.css" rel="stylesheet">
  </head>
  <body  class="text-center" >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <form class="form-signin">
  <img class="mb-4" src="/assets/w.png" alt="" width="72" height="72">
  <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
  <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
  <label for="inputEmail" class="sr-only">メールアドレス</label>
  <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
  <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
  <!-- <label for="inputPassword" class="sr-only">Password</label> -->
  <label for="inputPassword" class="sr-only">パスワード</label>
  <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!-- <label for="inputPassword-confirmation" class="sr-only">Password-Confirmation</label> -->
  <label for="inputPassword-confirmation" class="sr-only">パスワード(確認)</label>
  <!-- <input type="password" id="inputPassword-confirmation" class="form-control" placeholder="Password-Confirmation" required> -->
  <input type="password-confirmation" id="inputPassword-confirmation" class="form-control" placeholder="Password confirmation" required>
  <div class="checkbox mb-3">
    <label>
      <!-- <input type="checkbox" value="remember-me"> Remember me -->
      <input type="checkbox" value="remember-me"> remember
    </label>
  </div>
  <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020 tora Inc.</p>
</form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>
